<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DefectDAO">
 	<resultMap id="PackageHeaderMap"               type="java.util.HashMap">
       <result property="java.lang.String"         column="row_id"/>
       <result property="object"                   column="PackageBeanResult"/>
    </resultMap>
    
    <!-- 사용자 조회 -->
	<select id="selectDefectList" parameterType="java.util.Map" resultMap="PackageHeaderMap">
	    SELECT row_number() OVER () as rnum,   
	    		defect.* ,
	    		sftm.GET_CODENAME('B001', defect.defect_code) defect_name,
				sftm.GET_CODENAME('A001', defect.test_type_id) test_type_name,
		 		to_char(defect.reg_date, 'YYYY-MM-DD') reg_date_str
	    		FROM sftm.itm_defect defect 
	    WHERE 1=1
	    <if test="scenario_code != null and scenario_code != ''"> 
       		 AND defect.scenario_code = #{scenario_code} 
        </if>    
        <if test="case_code != null and case_code != ''"> 
       		 AND defect.case_code = #{case_code} 
        </if>  
    
	</select>
	<!-- 사용자 조회 -->
	<select id="selectDefectById" parameterType="int" resultMap="PackageHeaderMap">
	    SELECT row_number() OVER () as rnum,   
	    		defect.* ,
	    		sftm.GET_CODENAME('B001', defect.defect_code) defect_name,
				sftm.GET_CODENAME('A001', defect.test_type_id) test_type_name,
		 		to_char(defect.reg_date, 'YYYY-MM-DD') reg_date_str
	    		FROM sftm.itm_defect defect 
	    WHERE 1=1
	   
        <if test="id != null and id != ''"> 
       		 AND defect.id = #{id}::bigint
        </if>    
	</select>
	<!-- 사용자 조회 -->
	<select id="selectDefectId" resultType="java.lang.Integer">
	    select nextval('sftm.itm_defect_id_seq'::regclass);
	</select>
	
	<insert id="insertDefect" parameterType="map" useGeneratedKeys="true">
       INSERT INTO sftm.itm_defect
		(	
			id , 
			project_id, 
			scenario_code, 
			test_type_id, 
			case_code, 
			title, 
			description, 
			defect_user, 
			reg_user, 
			reg_date, 
			defect_code, 
			imgkey
		)
		VALUES (
			
			#{ id }::bigint,
			--nextval('sftm.itm_defect_id_seq'::REGCLASS),
			0,
			#{ scenario_code },
			#{ test_type_id },
			#{ case_code },
			#{ title },
			#{ description }, 
			(SELECT dev_id FROM sftm.itm_test_case WHERE case_code = #{ case_code } ),
			#{ cookieUserId },
			now()  , 
			 
			#{ defect_code },
			#{ imgkey }::bigint
		)
  	</insert>
  	<update id="updateDefect" parameterType="map" useGeneratedKeys="true">
    	UPDATE  sftm.itm_defect
		SET title = #{title},
			description = #{description},
			defect_code = #{defect_code},
			test_type_id = #{test_type_id},
			imgkey = #{ imgkey }::bigint
			
		WHERE  id 	= #{id}::bigint
    </update> 
  	
	<update id="updateDefectByDev" parameterType="map" useGeneratedKeys="true">
    	UPDATE  sftm.itm_defect
		SET  
			defect_result = #{defect_result},
			defect_code = #{defect_code},
			defect_user = #{defect_user}
<!-- 			<if test="defect_code != null and case_code == ''">  -->
<!--        		  ,resolve_date = now() -->
<!--         	</if>   -->
		WHERE  id 	= #{id}::bigint
    </update> 
	
	
</mapper>